<!DOCTYPE html>
<html>
    <head>
        <title>OnePage</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <link rel="stylesheet" href="Landing.css">
        <script src=Landing.js></script>
    </head>
    <body class="centered-wrapper">
        <div class="centered-content">
            <form class = "UsernameInput">
                <input type="DisplayName" class="form-control" id="DISP" placeholder="Enter A Display Name" autocomplete="off">
                <button type="button" class="btn btn-outline-primary">Submit</button>
            </form>
            <h1 id="intro"></h1>
        </div>
    </body>
</html>