<!DOCTYPE html>
<html>
    <head>
        <title>Project 2</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <link rel="stylesheet" type = "text/css" href = "{{ url_for('static',filename='styles/Landing.css') }}">
        <script src="{{ url_for('static',filename='script/Landing.js')}}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
        <script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
    </head>
    <body>
        <div class = "container h-100">
            <div class ="row h-10 bg-light">
                <button type="button" class="col-sm btn btn-dark" id="AddChannel">Add Channel</button>
                <button type="button" class="col-sm btn btn-dark" id="FindChannel">Find Channel</button>
                <button type="button" id="intro" class="col-sm btn btn-dark" disabled>Your Username Here</button>
            </div>
            <h4 id = "connected"></h4>
            <div class = "row d-flex justify-content-center top-buffer">
                <div class = "col-sm-4">
                    <div class = "d-flex justify-content-center UsernameInput">
                        <input type="DisplayName" class="form-control" id="DISP" placeholder="Enter A Display Name" autocomplete="off">
                        <button type="button" class="btn btn-outline-primary" id="InputButton">Submit</button>
                    </div>
                </div>
            </div>
            <div class = "row d-flex justify-content-center top-buffer NewChannel">
                <div class = "col-sm-4">
                    <div class = "d-flex justify-content-center ChannelInput">
                        <input type="DisplayName" class="form-control" id="ChannelDISP" placeholder="Enter a Channel Name" autocomplete="off">
                        <button type="button" class="btn btn-outline-primary" id="ChannelButton">Create</button>
                    </div>
                    <div class="alert alert-light ChannelAlert" role="alert"></div>
                </div>
            </div>
            <div class = "row d-flex justify-content-center FindChannel">
                <div class = "col-sm-4">
                    <div class = "d-flex justify-content-center FindInput">
                        <datalist name="state" id="Dropdown" placeholder="Choose a Channel">
                        </datalist>
                        <input type="search" autocomplete="on" list="Dropdown" id="ChannelList">
                    </div>
                </div>
            </div>
            <div class = "row ChatBox">
                <div class = "Chatbox">
                    <ul>
                    </ul>
                    <div class = "d-flex justify-content-center ChatForm">
                        <input type="DisplayName" class="form-control" id="ChatDISP" placeholder="Type Into The Chat" autocomplete="off">
                        <button type="button" class="btn btn-outline-primary" id="ChatButton">Send</button>
                        <button type="button" class="btn btn-outline-danger" id="LeaveButton">Leave Channel</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>